@import url(/style/global.css);

body {
    background-color: rgb(35, 35, 35);
}

#first-sec {
    background-image: url(/images/camera.jpeg);
    height: 800px;
    background-position: center;
}

#first-sec img {
    width: 100%;
    height: 700px;
}

#first-sec #img-first {
    width: 50%;
}

#first-sec .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#first-sec h1 {
    color: white;
    font-size: 2.3rem;
    font-weight: 200;
    align-items: center;
}

#first-sec .txt-first {
    width: 40%;
}

#first-sec .txt-first div {
    background-color: #D5F95A;
    width: 180px;
    height: 3px;
    margin: 30px 0;
}

#first-sec p {
    text-align: justify;
    line-height: 25px;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
}

#second-sec .container {
    display: flex;
}

#second-sec {
    padding: 40px;
    background-color: white;
}

#second-sec .txt {
    height: 350px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: url(/images/&.svg);
    background-repeat: no-repeat;
    justify-content: center;
}

#second-sec .txt h1 {
    color: rgb(12, 12, 12);
    font-size: 4.4rem;
    font-weight: 600;
    padding: 0;
}

#second-sec .sobre {
    padding: 10px;
    align-items: center;
    display: flex;
}

#second-sec .sobre p {
    color: rgb(12, 12, 12);
    line-height: 36px;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
}

.galeria .flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-top: 40px;
}

.galeria .flex .linha {
    width: 80%;
    height: 1px;
    background-color: white;
}

.galeria .flex p {
    font-weight: 100;
    font-size: 4rem;
    color: white;
}

.galeria .flexbox .box img {
    width: 100%;
    object-fit: cover;
}

.galeria .flexbox .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.galeria .flexbox .box .txt {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.galeria .flexbox .box .txt-2 {
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    padding: 10px 0;
}

.galeria .flexbox .box .txt-2 img {
    height: 89%;
}

.galeria .flexbox .box .txt-1 {
    padding: 50px 30px;
}

.galeria .flexbox .box .txt h5,
.txt-1 h5,
.txt-2 h5 {
    color: white;
    margin-top: 10px;
    font-weight: 100;
}

.galeria .flexbox .box .txt p,
.txt-1 p,
.txt-2 p {
    color: white;
}

.instagram .container {
    padding: 40px;
}

.instagram .container a {
    text-decoration: none;
}

.instagram .container .txt {
    background-color: gray;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    object-fit: cover;
}

.instagram .container .txt img {
    width: 40%;
    margin-right: 30px;
}

.instagram .container .txt p {
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 100;
    margin-left: 30px;
    margin-top: 10px;
}

#projeto .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projeto .container .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#projeto img {
    margin-top: -100px;
    width: 18%;
    position: absolute;
    z-index: -100;
    left: 50%;
}

#projeto p {
    color: white;
    font-size: 4em;
    align-items: center;
    text-align: center;
    background-position: right;
}

#projeto .form-box {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projeto .form-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projeto .form-box form select {
    width: 550px;
    font-size: 2.2em;
    padding: 10px;
    background-color: rgb(26, 26, 26);
    color: white;
}

#projeto .form-box form button {
    border: none;
    color: rgb(75, 75, 75);
    font-size: 1.7em;
    font-weight: 500;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

#rodape-img {
    width: 100%;
    text-align: center;
    margin-top: 110px;
    margin-bottom: -130px;
    background-attachment: fixed;
    z-index: -100;
}

@media screen and (max-width: 1300px) {
    .instagram .container .txt p {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 440px) {
    #first-sec {
        height: 550px;
    }

    #first-sec h1 {
        font-size: 1.6rem;
    }

    #first-sec .txt-first {
        width: 100%;
    }

    #first-sec #img-first {
        display: none;
    }

    #second-sec .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #second-sec .txt {
        width: 115%;
    }

    #second-sec .txt h1 {
        font-size: 4rem;
    }

    #second-sec .sobre p {
        text-align: center;
        width: 100%;
        font-size: 1rem;
        line-height: 25px;
    }

    .galeria .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .galeria .flex p {
        font-size: 2.5rem;
    }

    .galeria .flexbox .box {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .galeria .flexbox .box .txt-2 {
        margin-top: 0px;
        padding: 30px;
    }

    .galeria .flexbox .box .txt-2 img {
        height: 100%;
    }

    .galeria .flexbox .box .txt-1 {
        padding: 50px 30px;
    }
    
    .instagram .container .txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }

    .instagram .container .txt p {
        width: 100%;
        text-align: center;
        color: white;
        font-size: 1rem;
        padding: 0;
        margin: 0 auto;
    }

    .instagram .container .txt img {
        width: 80%;
        margin-right: 0px;
    }
    
    #projeto .container .txt {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 100px;
    }
    
    #projeto img {
        height: 450px;
        width: 100%;
        position: absolute;
        left: 0%;
    }
    
    #projeto p {
        font-size: 2.5em;
    }
    
    #projeto .form-box {
        text-align: center;
        width: 100%;
        height: 140px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    #projeto .form-box form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #projeto .form-box form select {
        width: 90%;
        font-size: 1.5em;
        padding: 5px;
        background-color: rgb(26, 26, 26);
        color: white;
    }
    
    #projeto .form-box form button {
        border: none;
        color: rgb(75, 75, 75);
        font-size: 1.7em;
        font-weight: 500;
        padding: 5px;
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
    }
}